/********* GT Official Web Colors *********/
:root {
    /*** Primary Colors ***/
    --gt-black: #262626;
    --gt-white: #ffffff;

    /*** Tech Gold Colors ***/

    /* Buzz Gold */
    --gt-buzz-gold: #eeb211;

    /* Tech Gold */
    --gt-gold: #b3a369;
    --gt-tech-gold: #b3a369;
    --gt-gold-grad-1: #bfb37c;

    /* Tech Light Gold */
    --gt-tech-light-gold: #bfb37c;

    /* Tech Medium Light Gold */
    --gt-mdlt-gold: #ac9a58;

    /* Tech Medium Gold */
    --gt-md-gold: #a4925a;
    --gt-tech-medium-gold: #a4925a;

    /* Tech Dark Gold */
    --gt-drk-gold: #857437;
    --gt-tech-dark-gold: #857437;

    /*** Secondary Colors ***/

    /* Navy */
    --gt-navy: #003057;

    /* Link Blue */
    --gt-blue: #004f9f;
    --gt-link-blue: #004f9f;
    --gt-blue-visited: #1879db;

    /* Link Hover Blue */
    --gt-blue-hover: #1879db;
    --gt-link-hover-blue: #1879db;

    /*** Grey Colors ***/

    /* Text Black */
    --gt-text-black: #262626;

    /* Warm Gray -- Also known as "Pi Mile" */
    --gt-warm-gray: #d6dbd4;
    --gt-warm-grey: #d6dbd4;

    /* Warm Gray Medium */
    --gt-warm-gray-medium: #e5e7e4;
    --gt-warm-grey-medium: #e5e7e4;

    /* Super Light Gray */
    --gt-superlight-gray: #f2f2f2;
    --gt-superlight-grey: #f2f2f2;

    /* Light Gray */
    --gt-light-gray: #ccc;
    --gt-light-grey: #ccc;

    /* Warm Gray Light */
    --gt-warm-gray-light: #f2f3f1;
    --gt-warm-grey-light: #f2f3f1;

    /* Medium Gray */
    --gt-md-grey: #545454;
    --gt-medium-gray-light: #545454;
    --gt-medium-grey-light: #545454;

    /* Medium Dark Gray */
    --gt-mddk-grey: #8a8a8a;

    /* Dark Gray */
    --gt-dark-gray: #3b3b3b;
    --gt-dark-grey: #3b3b3b;
    --gt-drk-grey: #3b3b3b;

    /* Pimile Light */
    --gt-pimile-light: #f2f3f1;

    /* Horizon */
    --gt-horizon: #f95e10;
    /* Tech Gradient */

    /* GT Gold Grad */
    --gt-gold-grad: linear-gradient(to right, #bfb37c 0%, #b3a369 100%);
-moz-linear-gradient(left, #BFB37C 0 %, #B3A369 100 %);
-webkit-linear-gradient(left, #BFB37C 0 %, #B3A369 100 %);

    /* GT Gold Grad Rev */
    --gt-gold-grad-rev: linear-gradient(to right, #b3a369 0%, #bfb37c 100%);
-moz-linear-gradient(left, #B3A369 0 %, #BFB37C 100 %);
-webkit-linear-gradient(left, #B3A369 0 %, #BFB37C 100 %);

    /* GT Gold Dark Half */
    --gt-gold-drk-half: linear-gradient(to right, #ac9a58 0%, #ac9a58 50%, white 50%, white 100%);
-moz-linear-gradient(left, #AC9A58 0 %, #AC9A58 50 %, white 50 %, white 100 %);
-webkit-linear-gradient(left, #AC9A58 0 %, #AC9A58 50 %, white 50 %, white 100 %);

    /* GT Gold Grad Shine */
    --gt-gold-grad-shine: linear-gradient(60deg, #b3a369 0%, #bfb37c 40%, #bfb37c 60%, #b3a369 100%);
-moz-linear-gradient(60 deg, #b3a369 0 %, #bfb37c 40 %, #bfb37c 60 %, #b3a369 100 %);
-webkit-linear-gradient(60 deg, #b3a369 0 %, #bfb37c 40 %, #bfb37c 60 %, #b3a369 100 %);

    /* Primary (tech gold) */
    --gt-primary-gold: #b3a369;

    /* Secondary (gt pimile) */
    --gt-secondary: #d6dbd4;

    /* Success  */
    --gt-success: #349e08;

    /* Danger (horizon) */
    --gt-danger: #f95e10;

    /* Warning */
    --gt-warning: #ff0101;

    /* Information (gt navy) */
    --gt-info: #003057;

    /* Light (gt pimile light) */
    --gt-light: #f2f3f1;

    /* Dark Grey */
    --gt-dark: #3b3b3b;

}

/* -- END ROOT -- */

/* Bootstrap Background Colors */

/* White */
.bg-primary {
    background: var(--gt-white);
}

/* Primary */
.bg-primary {
    background: var(--gt-gold);
}

/* Secondary */
.bg-secondary {
    background: var(--gt-secondary);
}

/* Success */
.bg-success {
    background: var(--gt-success);
}

/* Danger */
.bg-danger {
    background: var(--gt-danger);
}

/* Warning */
.bg-warning {
    background: var(--gt-warning);
}

/* Information */
.bg-info {
    background: var(--gt-info);
}

/* Light */
.bg-light {
    background: var(--gt-light);
}

/* Dark */
.bg-dark {
    background: var(--gt-dark);
}


.bg-warm-gray,
.bg-warm-grey {
  background: var(--gt-warm-gray-medium);
} 

.bg-warm-gray-light,
.bg-warm-grey-light {
  background: var(--gt-superlight-gray);
}
  
/**/

/* Views Background Table Colors */

.table-primary {
    background: var(--gt-primary-gold);
}

.table-secondary {
    background: var(--gt-secondary);
}

.table-success {
    background: var(--gt-success);
}

.table-danger {
    background: var(--gt-danger);
}

.table-warning {
    background: var(--gt-warning);
}

.table-info {
    background: var(--gt-info);
}

.table-light {
    background: var(--gt-light);
}

.table-dark {
    background: var(--gt-dark);
}

/* GT Background Colors  */

/* GT Gold */
.gt-gold,
.bg-gold {
    background: var(--gt-gold)
}

/* GT Medium Light Gold */
.gt-mdlt-gold,
.bg-mdlt-gold {
    background: var(--gt-mdlt-gold)
}

/* GT Dark Gold */
.gt-drk-gold,
.bg-dark-gold {
    background: var(--gt-drk-gold)
}

/***************** TEXT COLORS *****************/

.text-primary,
.text-gold, 
.text-gt-gold {
  color: var(--gt-md-gold) !important;
}

.text-secondary,
.text-gray,
.text-grey {
  color: var(--gt-md-grey) !important;
}

/***************** BORDER COLORS *****************/
.border-primary {
	border-color: var(--gt-gold);
}
