/* GT Official Fonts */
:root {
    --font-roboto: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    --font-roboto-slab: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-abel: 'Abel', sans-serif;
}
