/* CSS Style Sheet for Banner */
.flex-container .no-image {
  height: auto;
}
/* Flex body content to bottom */
.flex-bottom {
  align-self: flex-end;
}

/**/

/* Banner with Image */
/* Banner with Image */
/* Banner with Image */

/* translucent overlays */
.banner-text-wrapper:after,
.banner-image:before,
.banner-image:after {
	width: 2.5rem;
	height: 100%;
  background: rgba(0, 0, 0, .4);
  content: ' ';
  position: absolute;
  z-index: 10;
  display: block;
  top: 0;
}

.banner-image:before {
	left: 0;
}

.banner-text-wrapper:after {
	left: 100%;
}

.banner-image:after {
	width: 100%;
	height: 2rem;
	top: auto;
	bottom: 0;
  display: none;
}

/* Black */
.banner-wrapper.black {
  background: var(--gt-black);
	background-image:  url('../images/stripes-bg.svg');
  background-repeat: repeat;
  background-size: auto .9rem;
}

.banner-text-wrapper.black {
  background: var(--gt-black);
}

.banner-text-wrapper.black p,
.banner-text-wrapper.black ul,
.banner-text-wrapper.black li {
  color: var(--gt-white) !important;
}

.banner-text-wrapper.black h2,
.banner-text-wrapper.black h3,
.banner-text-wrapper.black h4,
.banner-text-wrapper.black h5,
.banner-text-wrapper.black h6 {
  color: var(--gt-gold) !important;
}

/* White */
.banner-wrapper.white {
  background: var(--gt-white);
  background-image:  url('../images/stripes-bg.svg');
  background-repeat: repeat;
  background-size: auto .9rem;
}

.banner-text-wrapper.white {
  background: var(--gt-white);
}

.banner-wrapper.white .banner-text-wrapper:after,
.banner-wrapper.white .banner-image:before,
.banner-wrapper.white .banner-image:after {
  background: rgba(255, 255, 255, .5);
}

.banner-text-wrapper.white p,
.banner-text-wrapper.white ul,
.banner-text-wrapper.white li {
  color: var(--gt-black) !important;
}

.banner-text-wrapper.white h2,
.banner-text-wrapper.white h3,
.banner-text-wrapper.white h4,
.banner-text-wrapper.white h5,
.banner-text-wrapper.white h6 {
  color: var(--gt-md-gold) !important;
}

/* Blue */
.banner-wrapper.blue {
	background: var(--gt-navy);
  background-image: url('../images/stripes-bg-white.svg');
  background-repeat: repeat;
  background-size: auto .9rem;
}

.banner-text-wrapper.blue {
  background: var(--gt-navy);
}

.banner-wrapper.blue .banner-text-wrapper:after,
.banner-wrapper.blue .banner-image:before,
.banner-wrapper.blue .banner-image:after {
  background: rgba(0, 48, 87, .4);
}

.banner-text-wrapper.blue,
.banner-text-wrapper.blue p,
.banner-text-wrapper.blue ul,
.banner-text-wrapper.blue li,
.banner-text-wrapper.blue h2,
.banner-text-wrapper.blue h3,
.banner-text-wrapper.blue h4,
.banner-text-wrapper.blue h5,
.banner-text-wrapper.blue h6 {
  color: var(--gt-white) !important;
}

/* Gold */
.banner-wrapper.gold {
  background: var(--gt-gold);
  background-image: url('../images/stripes-bg-white.svg');
  background-repeat: repeat;
  background-size: auto .9rem;
}

.banner-text-wrapper.gold {
	background: var(--gt-gold);
}

.banner-wrapper.gold .banner-text-wrapper:after,
.banner-wrapper.gold .banner-image:before,
.banner-wrapper.gold .banner-image:after {
  background: rgba(164, 146, 90, .5);
}

.banner-text-wrapper.gold p,
.banner-text-wrapper.gold ul,
.banner-text-wrapper.gold li,
.banner-text-wrapper.gold h2,
.banner-text-wrapper.gold h3,
.banner-text-wrapper.gold h4,
.banner-text-wrapper.gold h5,
.banner-text-wrapper.gold h6 {
  color: var(--gt-black) !important;
}

/* Warm-gray */
.banner-wrapper.warm-gray {
  background: var(--gt-warm-gray);
  background-image: url('../images/stripes-bg-white.svg');
  background-repeat: repeat;
  background-size: auto .9rem;
}

.banner-text-wrapper.warm-gray {
	background: var(--gt-warm-gray);
}

.banner-wrapper.warm-gray .banner-text-wrapper:after,
.banner-wrapper.warm-gray .banner-image:before,
.banner-wrapper.warm-gray .banner-image:after {
  background: rgba(212, 216, 210, .4);
}

.banner-text-wrapper.warm-gray p,
.banner-text-wrapper.warm-gray ul,
.banner-text-wrapper.warm-gray li,
.banner-text-wrapper.warm-gray h2,
.banner-text-wrapper.warm-gray h3,
.banner-text-wrapper.warm-gray h4,
.banner-text-wrapper.warm-gray h5,
.banner-text-wrapper.warm-gray h6 {
  color: var(--gt-black) !important;
}

/* Banner No Image */
/* Banner No Image */
/* Banner No Image */

/* Black */
.banner-no-image.black {
  background: var(--gt-black) !important;
}
.banner-no-image.black,
.banner-no-image.black p,
.banner-no-image.black ul,
.banner-no-image.black li {
  color: var(--gt-white) !important;
}

.banner-no-image.black h2,
.banner-no-image.black h3,
.banner-no-image.black h4,
.banner-no-image.black h5,
.banner-no-image.black h6 {
  color: var(--gt-tech-gold) !important;
}

/* White */
.banner-no-image.white {
  background: var(--gt-white) !important;
}
.banner-no-image.white,
.banner-no-image.white p,
.banner-no-image.white ul,
.banner-no-image.white li {
	color: var(--gt-black);
}

.banner-no-image.white h2,
.banner-no-image.white h3,
.banner-no-image.white h4,
.banner-no-image.white h5,
.banner-no-image.white h6 {
  color: var(--gt-md-gold) !important;
}

/* Blue */
.banner-no-image.blue {
  background: var(--gt-navy) !important;
}
.banner-no-image.blue,
.banner-no-image.blue p,
.banner-no-image.blue ul,
.banner-no-image.blue li,
.banner-no-image.blue h2,
.banner-no-image.blue h3,
.banner-no-image.blue h4,
.banner-no-image.blue h5,
.banner-no-image.blue h6 {
  color: var(--gt-white) !important;
}

/* Gold */
.banner-no-image.gold {
  background: var(--gt-gold) !important;
}

.banner-no-image.gold p,
.banner-no-image.gold ul,
.banner-no-image.gold li,
.banner-no-image.gold h2,
.banner-no-image.gold h3,
.banner-no-image.gold h4,
.banner-no-image.gold h5,
.banner-no-image.gold h6 {
  color: var(--gt-black) !important;
}

/* Warm-gray */
.banner-no-image.warm.grey {
  background: var(--gt-warm-gray) !important;
}

.banner-no-image.warm.grey p,
.banner-no-image.warm.grey ul,
.banner-no-image.warm.grey li {
	  color: var(--gt-black) !important;
}

.banner-no-image.warm.grey h2,
.banner-no-image.warm.grey h3,
.banner-no-image.warm.grey h4,
.banner-no-image.warm.grey h5,
.banner-no-image.warm.grey h6 {
	  color: var(--gt-black) !important;
}

/* Buttons */
/* Buttons */
/* Buttons */

/* Gold Button */
.main-container .btn.btn-style-gold,
.main-container .btn.btn-style-gold a,
.main-container .btn.btn-style-gold a:link,
.main-container .btn.btn-style-gold a:visited,
.main-container a.btn.btn-style-gold,
.main-container a.btn.btn-style-gold:link,
.main-container a.btn.btn-style-gold:visited {
  background: var(--gt-gold);
  color: var(--gt-black);
}

.main-container .btn.btn-style-gold:hover,
.main-container a.btn.btn-style-gold:hover,
.main-container a.btn.btn-style-gold:link:hover,
.main-container a.btn.btn-style-gold:visited:hover,
.main-container .btn.btn-style-gold a:hover,
.main-container .btn.bbtn-style-gold a:link:hover,
.main-container .btn.btn-style-gold a:visited:hover {
  background: var(--gt-tech-light-gold);
  color: var(--gt-black);
}

/* Black */
.main-container .btn.btn-style-black,
.main-container .btn.btn-style-black a,
.main-container .btn.btn-style-black a:link,
.main-container .btn.btn-style-black a:visited,
.main-container a.btn.btn-style-black,
.main-container a.btn.btn-style-black:link,
.main-container a.btn.btn-style-black:visited {
  text-decoration: none;
  background: var(--gt-dark-gray);
  border-color: transparent;
  color: var(--gt-white);
}

.main-container .btn.btn-style-black:hover,
.main-container a.btn.btn-style-black:hover,
.main-container a.btn.btn-style-black:link:hover,
.main-container a.btn.btn-style-black:visited:hover,
.main-container .btn.btn-style-black a:hover,
.main-container .btn.bbtn-style-black a:link:hover,
.main-container .btn.btn-style-black a:visited:hover {
  background: var(--gt-md-grey);
  text-decoration: none;
  color: var(--gt-white);
}

/* Blue */
.main-container .btn.btn-style-blue,
.main-container .btn.btn-style-blue a,
.main-container .btn.btn-style-blue a:link,
.main-container .btn.btn-style-blue a:visited,
.main-container a.btn.btn-style-blue,
.main-container a.btn.btn-style-blue:link,
.main-container a.btn.btn-style-blue:visited  {
  background: var(--gt-navy);
  color: var(--gt-white);
}

.main-container .btn.btn-style-blue:hover,
.main-container a.btn.btn-style-blue:hover,
.main-container a.btn.btn-style-blue:link:hover,
.main-container a.btn.btn-style-blue:visited:hover,
.main-container .btn.btn-style-blue a:hover,
.main-container .btn.bbtn-style-blue a:link:hover,
.main-container .btn.btn-style-blue a:visited:hover {
	background: var(--gt-blue);
  color: var(--gt-white);
}

/* Warm Gray */
.main-container .btn.btn-style-warm-gray,
.main-container .btn.btn-style-warm-gray a,
.main-container .btn.btn-style-warm-gray a:link,
.main-container .btn.btn-style-warm-gray a:visited,
.main-container a.btn.btn-style-warm-gray,
.main-container a.btn.btn-style-warm-gray:link,
.main-container a.btn.btn-style-warm-gray:visited  {
  background: var(--gt-warm-gray);
  color: var(--gt-black);
}

.main-container .btn.btn-style-warm-gray:hover,
.main-container a.btn.btn-style-warm-gray:hover,
.main-container a.btn.btn-style-warm-gray:link:hover,
.main-container a.btn.btn-style-warm-gray:visited:hover,
.main-container .btn.btn-style-warm-gray a:hover,
.main-container .btn.bbtn-style-warm-gray a:link:hover,
.main-container .btn.btn-style-warm-gray a:visited:hover {
  background: var(--gt-warm-gray-medium);
  color: var(--gt-black);
}

/* White */
.main-container .btn.btn-style-white,
.main-container .btn.btn-style-white a,
.main-container .btn.btn-style-white a:link,
.main-container .btn.btn-style-white a:visited,
.main-container a.btn.btn-style-white,
.main-container a.btn.btn-style-white:link,
.main-container a.btn.btn-style-white:visited {
  background: var(--gt-white);
  color: var(--gt-black);
}

.main-container .btn.btn-style-white:hover,
.main-container a.btn.btn-style-white:hover,
.main-container a.btn.btn-style-white:link:hover,
.main-container a.btn.btn-style-white:visited:hover,
.main-container .btn.btn-style-white a:hover,
.main-container .btn.bbtn-style-white a:link:hover,
.main-container .btn.btn-style-white a:visited:hover {
  background: var(--gt-superlight-gray);
  color: var(--gt-black);
}

/* Transparent */

.banner-wrapper.transparent .banner-text-wrapper:after,
.banner-wrapper.transparent .banner-image:before,
.banner-wrapper.transparent.banner-image:after {
  display: none;
}
/* Angle
.angle {
  -webkit-clip-path: polygon(0 0, 91% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 91% 0, 100% 100%, 0 100%)
}

@media (max-width: 576px) {
  .angle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}*/

@media (max-width: 990px) {
	.banner-image:before,
	.banner-text-wrapper::after {
		display: none;
	}
	.banner-image:after {
    display: block;
  }
}
