
{#
/**
 * @file
 * Theme override for a field.
 *
 * Add bootstrap button style to a link field
 */
#}
{% for item in items %}
  {%
    set link_classes = [
    'mr-1',
    'mb-1',
    (loop.index0 == 0) ? 'nav-link' : 'nav-link'
  ]
  %}
  {% set content = item.content %}
  {% set content = content|merge({ '#attributes': { class: link_classes } }) %}
  <li class="nav-item">{{ content }}</li>
{% endfor %}
