/********* GT Official Web Colors *********/
:root {
  /*** Primary Colors ***/
  --gt-black: #262626;
  --gt-white: #ffffff;
  --gt-gold: #b3a369;
  --gt-blue: #004f9f;
  --gt-light-grey: #ccc;
  --gt-md-grey: #545454;
  --gt-dark-gray: #3b3b3b;
  --gt-buzz-gold: #eeb211;

  /* Primary (tech gold) */
  --gt-primary-gold: #b3a369;

  /* Secondary (gt pimile) */
  --gt-secondary: #d6dbd4;

  /* Success  */
  --gt-success: #349e08;

  /* Danger (horizon) */
  --gt-danger: #f95e10;

  /* Warning */
  --gt-warning: #9d0000;

  /* Information (gt navy) */
  --gt-info: #003057;

  /* Light (gt pimile light) */
  --gt-light: #f2f3f1;

  /* Dark Grey */
  --gt-dark: #3b3b3b;

  /*** Primary Font  ***/
  --font-roboto: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
  --font-roboto-slab: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-abel: 'Abel', sans-serif;
}

/* GT Alerts */
#gt-alert p {
  margin-bottom: .2rem;
  line-height: 1.3;
  font-size: .9rem;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}

a.primary,
a.secondary,
a.success,
a.danger,
a.warning,
a.info,
a.light,
a.dark {
  display: block;
  font-weight: 300 !important;
  padding: .25rem 1.5rem;
  text-decoration: none !important;
  margin: 1rem 0 .25rem;
  width: max-content;
}
/* Alert Colors */
.alert-primary {
  color: var(--gt-white);
  background-color: var(--gt-blue);
  border-color: var(--gt-blue);
}

.alert-primary p {
  color: var(--gt-white);
}

.alert-primary a.primary {
  color: var(--gt-white) !important;
  border: 1px solid var(--gt-white) !important;
}

.alert-primary a.primary:hover {
  color: var(--gt-black) !important;
  border: 1px solid var(--gt-black) !important;
}

.alert-secondary {
  color: var(--gt-dark-gray);
  background-color: var(--gt-light);
  border-color: var(--gt-light);
}

.alert-secondary a.secondary {
  color: var(--gt-dark-gray) !important;
  border: 1px solid var(--gt-dark-gray) !important;
}

.alert-success {
  color: var(--gt-white);
  background-color: var(--gt-success);
  border-color: var(--gt-success);
}

.alert-success a.success {
  color: var(--gt-white);
  background-color: var(--gt-success);
  border: 1px solid var(--gt-white);
}

.alert-success a.success:hover {
  color: var(--gt-success);
  background-color: var(--gt-white);
}

.alert-success p {
  color: var(--gt-white);
}

.alert-danger {
  color: var(--gt-black);
  background-color: var(--gt-warning);
  border-color: var(--gt-warning);
}

.alert-danger a.danger {
  border: 2px solid var(--gt-black);
  font-weight: bold !important;
}

.alert-danger a.danger:hover {
  color: var(--gt-warning);
  background-color: var(--gt-black);
  border-color: var(--gt-warning);
}

.alert-danger p {
  color: var(--gt-black);
}

.alert-warning {
  color: var(--gt-black);
  background-color: var(--gt-buzz-gold);
  border-color: var(--gt-buzz-gold);
}

.alert-warning a.warning {
  color: #383d41 !important;
  border: 1px solid #383d41 !important;
}

.alert-warning a.warning:hover {
  color:  var(--gt-buzz-gold) !important;
  background-color:var(--gt-black);
  border: 1px solid var(--gt-buzz-gold) !important;
}

.alert-warning p {
  color: var(--gt-black);
}

.alert-info {
  color: var(--gt-white);
  background-color: var(--gt-info);
  border-color: var(--gt-info);
}

.alert-info a.info {
  color: var(--gt-white);
  background-color:  transparent;
  border:1px solid var(--gt-white);
}

.alert-info a.info:hover {
  color: var(--gt-info);
  background-color: var(--gt-white);
  border-color:  var(--gt-white);
}

.alert-info p {
  color: var(--gt-white);
}

.alert-light {
  color: var(--gt-md-grey);
  background-color: var(--gt-light);
}

.alert-light a.light {
  color: var(--gt-md-grey);
  background-color: transparent;
  border: 1px solid var(--gt-md-grey);
}

.alert-light a.light:hover {
  color: var(--gt-black);
  background-color: var(--gt-md-grey);
  border: 1px solid var(--gt-black);
}

.alert-dark {
  color: var(--gt-black);
  background-color: var(--gt-light-grey);
  border-color: var(--gt-light-grey);
}

.alert-dark a.dark {
  color: var(--gt-black);
  background-color: transparent;
  border:1px solid  var(--gt-black);
}

.alert-dark a.dark:hover {
  color: var(--gt-light-grey);
  background-color: var(--gt-black);
  border:1px solid  var(--gt-black);
}
